{% extends 'base.html.twig' %}
{% block title %}Editar Participante{% endblock %}

{% block body %}
<div class="container mt-4">
  <h1 class="mb-4">Editar Participante del Siniestro</h1>

  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-3">Guardar cambios</button>
  {{ form_end(form) }}

  <a href="{{ path('detalle_index') }}" class="btn btn-secondary mt-3">Volver</a>
</div>
{% endblock %}
